.m-icon-bubbles { background-image: url('png/bubbles.png'); background-repeat: no-repeat; }

.dropdown-toggle,
.m-icon-caret-down-0 { background-image: url('png/caret-down-0.png'); background-repeat: no-repeat; }

.m-icon-caret-down { background-image: url('png/caret-down.png'); background-repeat: no-repeat; }

.breadcrumbs li,
.m-icon-chevron-right { background-image: url('png/chevron-right.png'); background-repeat: no-repeat; }

.m-icon-close-0 { background-image: url('png/close-0.png'); background-repeat: no-repeat; }

.m-icon-close { background-image: url('png/close.png'); background-repeat: no-repeat; }

.m-icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.m-icon-feed { background-image: url('png/feed.png'); background-repeat: no-repeat; }

.m-icon-googleplus { background-image: url('png/googleplus.png'); background-repeat: no-repeat; }

.m-icon-list { background-image: url('png/list.png'); background-repeat: no-repeat; }

.show-on-map,
.m-icon-location { background-image: url('png/location.png'); background-repeat: no-repeat; }

.m-icon-menu-0 { background-image: url('png/menu-0.png'); background-repeat: no-repeat; }

.m-icon-menu { background-image: url('png/menu.png'); background-repeat: no-repeat; }

.m-icon-phone { background-image: url('png/phone.png'); background-repeat: no-repeat; }

.m-icon-plus { background-image: url('png/plus.png'); background-repeat: no-repeat; }

.m-icon-remove-0 { background-image: url('png/remove-0.png'); background-repeat: no-repeat; }

.m-icon-remove { background-image: url('png/remove.png'); background-repeat: no-repeat; }

.m-icon-search-0 { background-image: url('png/search-0.png'); background-repeat: no-repeat; }

.m-icon-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

.m-icon-spinner { background-image: url('png/spinner.png'); background-repeat: no-repeat; }

.m-icon-todo-0 { background-image: url('png/todo-0.png'); background-repeat: no-repeat; }

.m-icon-todo { background-image: url('png/todo.png'); background-repeat: no-repeat; }

.m-icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.m-icon-user { background-image: url('png/user.png'); background-repeat: no-repeat; }

