#malmo-masthead {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: $masthead-background;
  @include box-shadow(0 2px 2px rgba(0, 0, 0, .2));
  min-width: 61em;
  min-height: emize(41);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a:hover {
    text-decoration: none;
  }

  #nav-triggers {
    // Activated in media_queries.scss
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }

  #nav-search-trigger,
  #nav-menu-trigger,
  > nav > ul > li {
    float: left;
    > a {
      display: block;
      @include box-sizing(border-box);
      overflow: hidden;
      white-space: nowrap;
      padding: emize(13, 13) 1em emize(14, 13);
      margin: 0 -1px 0 0;
      color: $masthead-color;
      font-family: $sans-serif;
      font-size: emize(13);
      line-height: emize(15, 13);
      height: emize(41, 13);
      outline: 0;
      border: transparent solid;
      border-width: 0 1px;
      &.dropdown-toggle {
        padding-right: 2.05em;
        color: $masthead-color;
        span.m-icon-caret-down-0 {
          position: absolute;
          right: .85em;
          top: 1.1em;
          width: 1em;
          height: 1em;
          background-position: 100% 50%;
          display: inline-block;
        }
      }
      &.dropdown-toggle.more-items {
        span.icon-caret-down {
          line-height: .8;
          margin-left: .3em;
        }
      }
      &.dropdown-toggle.no-arrow {
        padding-right: 1em;
      }
    }
    .dropdown-menu {
      min-width: emize(236, 13);
    }
    > a:hover,
    > a:focus,
    &.open > a {
      background: $masthead-background-highlight;
      border-color: transparent $masthead-color;
    }
    ul.dropdown-menu {
      top: 3.1em;
      min-width: emize(236, 13);
      white-space: nowrap;
    }
    span.icon-reorder {
      margin-left: .3em;
      line-height: .8;
    }
    span.icon-search {
      margin-left: .4em;
      line-height: .8;
      position: relative;
      top: -1px;
    }
  }

  #nav-search-trigger a:hover {
    border-right-color: #000;
  }

  > nav#masthead-others {
    > ul {
      li {
        float: left;
      }
      li a {
        padding-left: .85em;
        padding-right: .85em;
      }
      li a span {
        position: relative;
        display: inline-block;
        width: emize(14, 13);
        height: emize(18, 13);
      }
      li.map a span {
        top: emize(-2, 13);
        background-position: 25% 0%;
      }
      li.phone a span {
        top: emize(-1, 13);
        background-position: 25% 50%;
      }
    }
    @media (max-width: 74em) {
      display: none;
    }
  }

  #nav-my-department, #nav-my-workingfield {
    .icon-caret-down {
      display: none;
    }
  }

  // Search box, minimal
  #masthead-search {
    position: relative;
    float: right;
    @include box-sizing(border-box);
    top: emize(6);
    right: emize(10);
    #masthead-search-intranet input.q {
      max-height: 18px;
    }
    form {
      margin-bottom: 0;
    }
    input.form-control {
      @media (min-width: 70em) { width: 22em; }
      @media (max-width: 70em) { width: 20em; }
      @media (max-width: 68em) { width: 18em; }
      @media (max-width: 66em) { width: 16em; }
      @media (max-width: 64em) { width: 14em; }
    }
    #masthead-search-person,
    .btn, .add-on {
      display: none;
    }
    .icon-search {
      position: absolute;
      right: .5em;
      top: .3em;
      display: block;
      color: $masthead-background;
      font-size: emize(14);
    }
  }
  // Search box, expanded
  #masthead-search.expanded {
    position: absolute;
    top: emize(41);
    right: 0;
    border: $border;
    border-width: 0 0 1px 1px;
    background: $background-light;
    padding: 1.2em;
    @include radius(0 0 0 3px);
    @include box-shadow(2px 2px 3px rgba(0, 0, 0, .2));
    #masthead-search-person {
      display: block;
    }
    #masthead-search-intranet {
      margin-bottom: .6em;
      input.q {
        max-height: none;
      }
    }
    .btn, .add-on {
      display: inline-block;
    }
    input.q {
      width: 25em;
    }
    .icon-search {
      display: none;
    }
  }

  .nav-logo {
    display: block;
    float: left;
    padding: 0 0 0 .5em;
    font-family: $sans-serif;
    line-height: 1;
    background: url("internal/logo-x1.png") 10px 5px no-repeat;
    background-size: 24px;
    a, span {
      display: block;
      color: $masthead-color-highlight;
      @include box-sizing(border-box);
      padding: emize(6) emize(12) emize(6) emize(24);
      border: none;
      font-weight: bold;
      font-size: emize(23);
      line-height: 1;
      text-transform: uppercase;
    }
    @media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
      background-image: url("internal/logo-x2.png");
    }
  }
}

// Add one of the class selectors to the body
// to get an active nav item
.malmo-masthead-dashboard #nav-dashboard,
.malmo-masthead-my-department #nav-my-department,
.malmo-masthead-my-workingfield #nav-my-workingfield,
.malmo-masthead-our-organization #nav-our-organization,
.malmo-masthead-hrutan #nav-hrutan,
.malmo-masthead-more #nav-more-items,
.malmo-masthead-map #masthead-others .map,
.malmo-masthead-search #nav-search-trigger {
  > a {
    background: $masthead-background-highlight;
    border-color: transparent $masthead-color;
  }
}
.malmo-masthead-search #nav-search-trigger > a {
  border-left: 1px solid $masthead-color !important;
}

// Switch to collapsed top nav
@media (max-width: 61em) {

  #malmo-masthead {
    min-width: 0;
    @include clearfix();
    #masthead-search {
      position: static;
      float: left;
      width: 100%;
      overflow: hidden;
      padding-left: .8em;
      padding-right: .8em;
      .icon-search {
        display: none;
      }
      &.expanded {
        @include radius(0);
        border: none;
      }
    }
    #masthead-search #masthead-search-intranet input.q {
      display: none;
    }
    #masthead-search.expanded #masthead-search-intranet input.q {
      display: inline;
    }
    #masthead-search.expanded input.q {
      max-width: 55%;
    }
    > nav {
      position: fixed;
      top: emize(41);
      bottom: 0;
      left: 0;
      right: 0;
      display: none;
      overflow: hidden;
      background: rgba(255, 255, 255, .7);
      ul {
        overflow: auto;
        position: static;
        height: 100%;
        li {
          float: none;
          width: 100%;
          a,
          a:hover,
          a:focus,
          &.open > a:hover,
          &.open > a:focus {
            height: auto;
            padding: emize(18) emize(13);
            background-color: $narrow-nav-background !important;
            border-width: 1px 0 0;
            border-top-color: $narrow-nav-border-color;
            color: $narrow-nav-color;
            @include radius(0);
            .icon-caret-down {
              display: none;
            }
          }
        }
        > li#nav-more ul.dropdown-menu {
          margin-bottom: 2em;
          @include box-shadow(2px 2px 3px rgba(0, 0, 0, .2));
        }
      }
      ul.dropdown-menu li {
        a, a:hover, a:focus {
          line-height: emize(15, 13);
        }
      }
    }
    > nav.expanded {
      display: block;
    }
    #nav-triggers {
      display: block;
    }
    #nav-menu-trigger {
      margin-right: -1px;
      a {
        margin-right: 0;
        span {
          padding-left: .3em;
        }
      }
    }
    #nav-search-trigger a {
      margin-right: 0;
      span {
        margin-left: 0;
      }
    }

    #nav-my-department, #nav-my-workingfield, #nav-more {
      .dropdown-toggle {
        display: none;
        cursor: default;
        background: $narrow-nav-background;
      }
      ul.dropdown-menu {
        position: static;
        display: block;
        @include box-shadow(none);
        @include radius(0);
        border: none;
        width: 100%;
        &:after, &:before {
          content: none;
        }

        > li {
          > a {
            background: $narrow-nav-background;
            @include radius(0);
            padding-top: emize(18);
            padding-bottom: emize(18);
            border-top-width: 1px;
            border-top-color: $narrow-nav-border-color;
            border-top-style: solid;
          }
          > a:hover,
          > a:focus {
            background: $narrow-nav-background-higlight;
          }
        }
      }
    }
  }

  // Add on of the class selectors to the body
  // to get an active nav item
  .malmo-masthead-dashboard #nav-dashboard,
  .malmo-masthead-my-department #nav-my-department,
  .malmo-masthead-my-workingfield #nav-my-workingfield,
  .malmo-masthead-our-organization #nav-our-organization,
  .malmo-masthead-hrutan #nav-hrutan,
  .malmo-masthead-more #nav-more {
    a, a:hover {
      border-top-color: $narrow-nav-border-color;
      background: $narrow-nav-background-higlight;
      background: $narrow-nav-background-higlight;
    }
  }
}


.service-title, .app-title {
  padding: .5em .9em;
  line-height: 1;
  margin: 0 0 1em;
  background-color: $background-light;
  border: $border;
  border-width: 1px 0;
  font-size: emize(13);
  font-weight: normal;
  font-family: $sans-serif;
  a {
    color: #000;
  }
}
ul.ui-autocomplete li .hits {
  float: right;
}
ul.ui-autocomplete.masthead-ac {
  min-width: 17em;
  z-index: 1000;
}

// Autocomplete list for user search
ul.ui-autocomplete.search_users {
  z-index: 1000;
  .ui-menu-item > a.ui-corner-all {
    padding: .5em 1em .7em .5em;
    clear: left;
    overflow: hidden;
    white-space: nowrap;
    font-size: emize(13);
    img {
      float: left;
      margin-top: 3px;
      height: 32px;
      width: 32px;
    }
    p {
      margin: 0 0 0 40px;
    }
  }
}
