// Used for Brightcove inline videos for proportional size 16:9
.bc-video-box {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 1.5em;

  .bc-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: $sans-serif;
  }

  // styling of the Brightcove player
  .vjs-big-play-button {
    position: absolute;
    width: 120px;
    height: 92px;
    top: -18px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .vjs-big-play-button::before {
    margin: 36px auto;
  }

  .vjs-control-bar {
    font-family: $sans-serif;
  }
}
