.contact-us {
  margin-top: 1em;

  .vcard {
    margin-bottom: 2em;

    img {
      float: right;
      height: auto;
      margin: .1em 0 1em 1.5em;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
    p {
      font-size: emize(14, 14);
      line-height: 1.7;
    }
  }

  &.multi-district .vcard {
    margin-bottom: 0;
  }

  > div {
    font-size: emize(14);
    line-height: 1.7;

    h2 {
      font-size: emize(14, 14);
      margin-bottom: .3em;
    }

    h3 {
      font-size: emize(14, 14);
      font-weight: normal;
      font-style: italic;
      margin: 1em 0 0;
    }
  }
  .write-to-us-form {
    display: none;
    margin-bottom: 2em;
  }
  .show-on-map {
    display: inline-block;
    margin-top: .5em;
    padding-left: 1.4em;
    background-size: 1em;
    background-position: 0 5px;
  }
  .contact-us-map {
    display: none;
    width: 100%;
    height: 40em;
    margin: 1em 0;
    border: $border;
    iframe {
      width: 100%;
      height: 40em;
    }
    @media (max-width: 40em) {
      height: 30em;
      iframe {
        height: 30em;
      }
    }
  }

  // Select or search for district
  #choose-district {
    margin-bottom: 1em;
    .form-group {
      margin-bottom: 1em;
    }
    select {
      width: auto;
    }
    input {
      width: 30em;
      max-width: 100%;
    }
  }

  #contact-us-form-template {
    display: none;
  }
  .success, .error {
    margin: 2em 0;
  }
}
