// ☺ (utf-8 hack for sass compile)
// Used for web apps that only includes the masthead.
// Will only style elements inside the #malmo-masthead
// Note that styles in the web app itself can interfere the masthead
@import 'variables';
@import 'mixins';
@import 'functions';

#malmo-masthead {
  font-size: 16px;
  text-rendering: optimize-legibility;
  @import 'bootstrap_custom';
  @import 'elements';
}

@import 'masthead';
@import 'fonts';

body {
  margin-top: 72px !important;
}
